.bg-scroll-custom {
    /* display: block; */
    /* height: 40vh; */
    /* overflow-y: scroll; */
    /* overflow-x: unset; */
}

.sr-only {
    display: none;
}

/* .custom-modal-css {
    z-index: 1;
    width: 35%;
    margin-left: 50%;
} */

.search {
    /* position: absolute; */
    /* top: 1rem; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 400px;
    max-width: 400px;
    z-index: 10;
}

.search input {
    padding: 0.2rem;
    padding-left: 0.5rem;
    font-size: 1.0rem;
    width: 90%;
    z-index: 10;
}

.pac-target-input {
    padding: 0.2rem;
    padding-left: 0.5rem;
    font-size: 1.0rem;
    width: 100%;
}

.google-map-custom {
    z-index: 0 !important;
}

@media (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

    .google-map-custom-height {
        height: 70vh !important;
        width: 50vh !important;
    }
}

@media (min-width:480px) {

    /* smartphones, Android phones, landscape iPhone */
    .custom-modal-css {
        z-index: 1;
        width: 35%;
        margin-left: 40%;
    }

    .google-map-custom-height {
        height: 70vh !important;
        width: 50vh !important;
    }
}

@media (min-width:600px) {

    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .custom-modal-css {
        z-index: 1;
        width: 55%;
        margin-left: 40%;
    }

    .google-map-custom-height {
        height: 85vh !important;
        width: 50vh !important;
    }
}

@media (min-width:801px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .custom-modal-css {
        z-index: 1;
        width: 35%;
        margin-left: 50%;
    }

    .google-map-custom-height {
        height: 85vh !important;
        width: 50vh !important;
    }
}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    .custom-modal-css {
        z-index: 1;
        width: 35%;
        margin-left: 50%;
    }

    .google-map-custom-height {
        height: 85vh !important;
        width: 50vh !important;
    }
}

@media (min-width:1281px) {

    /* hi-res laptops and desktops */
    .custom-modal-css {
        z-index: 1;
        width: 35%;
        margin-left: 45%;
    }

    .google-map-custom-height {
        height: 85vh !important;
        width: 50vh !important;
    }
}

.custom-google-polygon-btn {
    background: none;
    display: block;
    border: 0px;
    margin: 0px;
    margin-right: 5px !important;
    padding: 13px !important;
    text-transform: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
}

.custom-google-drag-btn{
    display : none !important;
    background: none;
    display: block;
    border: 0px;
    margin: 0px;
    margin-right: 5px !important;
    padding: 10px !important;
    text-transform: none;
    appearance: none;
    position: relative;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    width: 40px;
    height: 40px;
    top: 0px;
    left: 0px;
}